@font-face {
  src: url("fonts/ProximaNova-Regular.otf");
  font-family: 'ProximaNova Regular';
}

@font-face {
  src: url("fonts/Proxima Nova Black.otf");
  font-family: 'ProximaNova Black';
}

@font-face {
  src: url("fonts/Proxima Nova Bold.otf");
  font-family: 'ProximaNova Bold';
}

@font-face {
  src: url("fonts/ProximaNovaThin.otf");
  font-family: 'ProximaNova Thin';
}

/* Colors */
/* Mixins */
body {
  font-family: 'ProximaNova Regular';
  overflow-x: hidden;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: black;
  padding: 2em 10em;
}

.navbar .logo {
  display: inline-block;
}

.navbar .account-info {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  color: #B2B2B2;
}

.navbar .account-info .watchlist {
  background: #FF0000;
  color: white;
  display: inline-block;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  height: 30px;
  width: 30px;
  font-family: 'ProximaNova Thin';
  margin-left: .5em;
  margin-top: -15px;
}

.navbar .account-info .watchlist span {
  display: block;
  margin-top: 7px;
  margin-left: -1px;
}

.navbar .account-info button {
  background: #FF0000;
  border: none;
  outline: none;
  padding: 1em 2em;
  color: white;
  cursor: pointer;
  font-family: 'ProximaNova Regular';
  font-size: '14px';
  margin-left: 2em;
}

.main-header, .dashboard-header {
  background: black;
  text-align: center;
  color: white;
  padding: 4em 2em 0em 2em;
  height: calc(100vh - 101px);
}

.main-header h1, .dashboard-header h1 {
  font-family: 'ProximaNova Black';
  font-size: 3.5em;
}

.main-header a, .dashboard-header a {
  text-decoration: none;
}

.main-header button, .dashboard-header button {
  background: #FF0000;
  border: none;
  outline: none;
  padding: 1em 2em;
  color: white;
  cursor: pointer;
  font-family: 'ProximaNova Regular';
  font-size: 14px !important;
  padding: 1em 3em;
  letter-spacing: 1px;
  display: block;
  margin: auto;
  margin-top: -2em;
}

.main-header .landing-carousel, .dashboard-header .landing-carousel {
  margin: auto;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main-header .landing-carousel .item, .dashboard-header .landing-carousel .item {
  position: absolute;
  -webkit-transform: translateX(1000%);
          transform: translateX(1000%);
}

.main-header .landing-carousel .item:first-child, .dashboard-header .landing-carousel .item:first-child {
  -webkit-animation: item-animation 24s linear infinite;
          animation: item-animation 24s linear infinite;
}

.main-header .landing-carousel .item:nth-child(2), .dashboard-header .landing-carousel .item:nth-child(2) {
  -webkit-animation: item-animation 24s linear infinite 3s;
          animation: item-animation 24s linear infinite 3s;
}

.main-header .landing-carousel .item:nth-child(3), .dashboard-header .landing-carousel .item:nth-child(3) {
  -webkit-animation: item-animation 24s linear infinite 6s;
          animation: item-animation 24s linear infinite 6s;
}

.main-header .landing-carousel .item:nth-child(4), .dashboard-header .landing-carousel .item:nth-child(4) {
  -webkit-animation: item-animation 24s linear infinite 9s;
          animation: item-animation 24s linear infinite 9s;
}

.main-header .landing-carousel .item:nth-child(5), .dashboard-header .landing-carousel .item:nth-child(5) {
  -webkit-animation: item-animation 24s linear infinite 12s;
          animation: item-animation 24s linear infinite 12s;
}

.main-header .landing-carousel .item:nth-child(6), .dashboard-header .landing-carousel .item:nth-child(6) {
  -webkit-animation: item-animation 24s linear infinite 15s;
          animation: item-animation 24s linear infinite 15s;
}

.main-header .landing-carousel .item:nth-child(7), .dashboard-header .landing-carousel .item:nth-child(7) {
  -webkit-animation: item-animation 24s linear infinite 18s;
          animation: item-animation 24s linear infinite 18s;
}

.main-header .landing-carousel .item:nth-child(8), .dashboard-header .landing-carousel .item:nth-child(8) {
  -webkit-animation: item-animation 24s linear infinite 21s;
          animation: item-animation 24s linear infinite 21s;
}

.dashboard-header {
  height: auto;
  padding-bottom: 8em;
}

@-webkit-keyframes item-animation {
  0% {
    -webkit-transform: translateX(800%);
            transform: translateX(800%);
  }
  100% {
    -webkit-transform: translateX(-450%);
            transform: translateX(-450%);
  }
}

@keyframes item-animation {
  0% {
    -webkit-transform: translateX(800%);
            transform: translateX(800%);
  }
  100% {
    -webkit-transform: translateX(-450%);
            transform: translateX(-450%);
  }
}

.movies {
  background: #070606;
  padding: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movies .movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3em;
}

.movies .movie .poster {
  background: #B2B2B2;
  width: 400px;
  display: inline-block;
}

.movies .movie .info {
  max-width: 350px;
  padding-left: 2em;
  display: inline-block;
  color: white;
}

.movies .movie .info .title {
  font-size: 1.5em;
  font-family: 'ProximaNova Black';
}

.movies .movie .info .description {
  font-family: 'ProximaNova Thin';
  line-height: 24px !important;
}

.movies .movie .info button {
  background: #FF0000;
  border: none;
  outline: none;
  padding: 1em 2em;
  color: white;
  cursor: pointer;
  font-family: 'ProximaNova Regular';
  margin-top: 1em;
}

/* Login form */
.error-input {
  border-bottom: 1px solid #FF0000 !important;
}

.progress-wrapper {
  max-width: calc(400px + 6em);
  margin: auto;
  position: relative;
  padding: 3em 0;
  margin-top: -2em;
}

.progress-wrapper .progress {
  position: absolute;
  width: 100%;
  background: #B2B2B2;
  height: 2.5px;
}

.progress-wrapper .progress .progress-inner {
  position: absolute;
  width: 0%;
  background: #FF0000;
  height: 2.5px;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.progress-wrapper .steps {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-top: -8px;
}

.progress-wrapper .steps span {
  display: inline-block;
  margin-left: 10em;
  height: 15px;
  width: 15px;
  background: black;
  border-radius: 50%;
  border: 2px solid #B2B2B2;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

.progress-wrapper .steps span:first-child {
  margin-left: 4em;
}

.progress-wrapper .steps span:last-child {
  margin-right: 4em;
}

.progress-wrapper .steps .active-step {
  border-color: #FF0000;
}

.progress-wrapper .steps .done-step {
  background: #FF0000 !important;
}

.login-area {
  background: black;
  height: 100vh;
  width: 100%;
  padding-top: 3%;
  overflow: hidden;
}

.login-area .logo {
  text-align: center;
  padding: 2em;
}

.login-area .inner {
  max-width: 400px;
  margin: auto;
  background: #070606;
  border-radius: 10px;
  color: #B2B2B2;
  padding: 3em;
}

.login-area .inner h3 {
  font-size: 2em;
  color: white;
  line-height: 0;
  font-family: "ProximaNova Regular";
  margin-top: 1em;
}

.login-area .inner p {
  font-family: "ProximaNova Thin";
  color: #FF0000;
  font-size: 14px;
}

.login-area .inner .packages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3em;
  width: 100%;
}

.login-area .inner .packages .package {
  width: 100%;
  text-align: center;
}

.login-area .inner .packages .package:nth-child(2) {
  margin-left: 10px;
}

.login-area .inner .packages .package header {
  padding: 5px 0;
  background: #FF0000;
  color: white !important;
}

.login-area .inner .packages .package header p {
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
}

.login-area .inner .packages .package header h3 {
  margin-top: 25px;
}

.login-area .inner .packages .package ul {
  list-style-type: none;
  padding: 0;
}

.login-area .inner .packages .package ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  border-bottom: 1px solid #B2B2B2;
  font-family: "ProximaNova Thin";
}

.login-area .inner .packages .package ul li:last-child {
  border-bottom: none;
}

.login-area .inner .packages .package button {
  margin-top: -1em;
}

.login-area .inner .logos {
  margin-top: 3em;
}

.login-area .inner .logos img {
  opacity: 0.2;
}

.login-area .inner .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-area .inner .card-info input {
  margin-left: 10px;
}

.login-area .inner .card-info input:first-child {
  margin-left: 0;
}

.login-area .inner form {
  margin-top: -0.5em;
}

.login-area .inner input {
  border: none;
  background: none;
  color: #B2B2B2;
  padding: 1em 0 0.5em 0;
  font-family: 'ProximaNova Thin';
  font-size: 1em;
  border-bottom: 1px solid grey;
  width: 100%;
  margin-top: 1em;
  outline: none;
}

.login-area .inner button {
  background: #FF0000;
  border: none;
  outline: none;
  padding: 1em 2em;
  color: white;
  cursor: pointer;
  font-family: 'ProximaNova Regular';
  margin-top: 2em;
  width: 100%;
  font-size: 12px;
  letter-spacing: 1px;
}

.login-area .inner footer {
  font-size: 0.8em;
  font-family: "ProximaNova Thin";
  margin-top: 2em;
  text-align: center;
}

.login-area .inner footer a {
  color: #FF0000;
  text-decoration: none;
  -webkit-transition: letter-spacing 0.5s;
  transition: letter-spacing 0.5s;
}

.login-area .inner footer a:hover {
  letter-spacing: 1px;
}
/*# sourceMappingURL=Style.css.map */